.disponible {
    cursor: pointer;
    text-decoration: none;
}

.no-disponible {
    cursor: none;
    text-decoration: none;
}

.p-disponible {
    fill: #6EC531 !important;
}

.p-disponible:hover {
    fill: rgba(150, 229, 243, 0.703) !important;
    cursor: pointer;
}

.p-apartado {
    fill: #7CDAF9 !important;
}

.p-vendido {
    fill: #FF5733 !important;
}
