
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #F8F9FD;
}

*::-webkit-scrollbar-track:hover {
    background-color: #F8F9FD;
}

*::-webkit-scrollbar-track:active {
    background-color: #F8F9FD;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #834979;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #834979;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #834979;
}
.sinEtapas li {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.box-content {
    padding: 10px 10px;
    box-shadow: 0px 1px 4px 2px #00000029;
    border-radius: 0px;
    background: white;
    height: fit-content !important;
    max-height: 100% !important;
    overflow: hidden;
    display: flex;
}
.box-content-two {
    padding: 10px 10px;
    box-shadow: 0px 1px 4px 2px #00000029;
    border-radius: 0px;
    background: white;    
    width: 65% !important;
    margin-left: 25px;
    height: fit-content !important;
    max-height: 100% !important;
    overflow: hidden;
    display: flex;
}
.b-h-fit {
    height: fit-content !important;
}
.box-title {
    color: #065D62;
    font-size: 22px !important;
    margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.box-header input[type="search"]{
    width: 90%;
}
.box-header button {
    width: 40px;
    border-radius: 5px;
    background-color: #0F888E;
    border: none;
    color: white;
}
.etapas-body {
    height: fit-content !important;
    overflow-y: auto !important;
    padding: 0px 10px 1px 0px;
}
.etapas-body .card {
    padding: 10px 15px;
    height: auto;
}
.formEtapa .card {
    height: auto;
    padding: 20px 5px 15px 5px;
}
.formClose i{
    color: #666;
    font-size: 20px;
    padding: 0px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.title-form {
    position: relative;
    color: #0F8A91 !important;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
}
.c-active {
    background-color: #0f8b9123;
}
.m-card-body strong {
    color: #834979;
    font-size: 45px;
    font-weight: bold;
}
.m-card-body p {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.btn-menu {
    color: #666;
    text-decoration: none;
    padding: 0px 5px;
}
.box-row {
    height: 97% !important;
}
.dropdown-toggle::after {
    display:none;
}
.box-lotes {
    height: fit-content !important;
    overflow-y: auto !important;
    padding: 0px 10px 1px 0px;
}
.m-card-lote {
    padding: 10px 10px;
}
.subtitle-card {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-lote-close i {
    color: #c6c6c6;
    font-size: 24px;
}
.tooltip {
    position: fixed;
}
.btn-lote-close i:hover {
    color: #e57373;
}
.disponible {
    background-color: #6EC531;
    color: white;
    height: 20px;
}
.apartado {
    background-color: #FFDE21;
    color: white;
    height: 20px;
}
.vendido {
    background-color: #FF5733;
    color: white;
    height: 20px;
}
.i-disponible {
    color: #6EC531;
}
.i-apartado {
    color: #FFDE21;
}
.i-vendido {
    color: #FF5733;
}
.precio {
    font-size: 22px !important;
    font-weight: bold;
    margin: 0px;
    color: #834979;
}
.cotizacion select {
    outline: none;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid #69727d;
    background-color: #fff !important;
    padding: 5px 15px;
    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    appearance: none;
    background: url("../../../assets/Imagenes/arrows.png") no-repeat right 5px; 
    background-size: 26px 20px;
}
.cotizacion option {
    font-size: 14px;
    font-weight: 400;
}
.cotizacion input[type="number"] {
    color: #065D62;
    font-weight: bold;
    border: 1px solid #69727d;
    font-size: 14px;
    width: 45px;
    height: 34px;
    text-align: center;
    border-radius: 0px !important;
}
.cotizacion input[type=number]::-webkit-inner-spin-button {
    display: none;
    margin: 0px;
    padding: 0px;
}
.financiamiento {
    font-size: 14px !important;
    color: #2d888e;
    margin: 0px;
    font-weight: bold;
}
.notify {
    margin-left: 10px;
    position: relative;
}
.notify i {
    font-size: 16px;
    color: #69727d;
}
.notify span {
    font-weight: bold;
    font-size: 14px;
}
.accordion-header button{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    color: #065D62;
}
@media only screen and (max-width: 575px){
    .h-100 {
        height: auto !important;
    }
    .etapas-body {
        height: 155px;
    }   
    .etapas-body .card {
        height: 150px;
    }
    .box-content:last-child {
        margin-top: 15px;
        width: 100% !important;
        margin-left: 0px;
    }
}