.title-form {
    position: relative;
    color: #0F8A91 !important;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
}
.dropdown-toggle::after {
    display:none;
}
.inp-default {
    border: none;
    cursor: pointer;
}
.disponible {
    background-color: #6EC531;
    color: white;
    height: 20px;
    cursor: pointer;
}
.apartado {
    background-color: #7CDAF9;
    color: white;
    height: 20px;
    cursor: pointer;
}
.vendido {
    background-color: #FF5733;
    color: white;
    height: 20px;
    cursor: pointer;
}
.i-disponible {
    color: #6EC531;
    cursor: pointer;
}
.i-apartado {
    color: #7CDAF9;
    cursor: pointer;
}
.i-vendido {
    color: #FF5733;
    cursor: pointer;
}
.img-respon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.precio {
    font-size: 22px !important;
    font-weight: bold;
    margin: 0px;
    color: #834979;
}
.upper {
    text-transform: uppercase;
}