<section class="container-fluid section-login d-flex flex-column justify-content-center align-items-center px-0 py-0 mx-0 my-0">
    <div class="row">
        <div class="col-3 text-center">
            <img src="./assets/Imagenes/Empresas/Ziba/logo_dos.png" width="150">
        </div>
    </div>
    <div class="card py-3">
        <div class="card-body p-4">
            <div class="text-center mt-2">
                <h5 class="text-primary">Bienvenido !</h5>
                <p class="text-muted">Inicia sesión al panel admin.</p>
            </div>
            <div class="p-2 mt-4">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label" for="user">Usuario</label>
                        <input type="text" class="form-control " name="email" value="" id="user" placeholder="Ingresa tu usuario" 
                        formControlName="sUsuario" >
                    </div>
                    <div class="mb-2">                        
                        <label class="form-label" for="sContra">Contraseña</label>
                        <div class="input-group">
                            <input id="sContra" placeholder="Ingresa tu contraseña"
                            [type]="passwordTextType ? 'text' : 'password'"
                            class="form-control p-normal"
                            formControlName="sContra" >
                            <button class="btn btn-outline-secondary" class="btn-eye" type="button" (click)="togglePasswordTextType()">
                                <i id="icon" [class]="!passwordTextType ? 'fa fa-fw fa-eye' : 'fa fa-fw fa-eye-slash'"></i>
                            </button>
                        </div> 
                    </div>
                    <div class="my-0 py-0">
                        <small class="text-muted cp">Olvidaste tu contraseña?</small>
                    </div>
                    <div class="form-check d-flex justify-content-end align-items-center">
                        <input type="checkbox" class="form-check-input mr-1" id="auth-remember-check" name="remember">
                        <label class="form-check-label" for="auth-remember-check">Recuerda me</label>
                    </div>
                    @if(alertError.show){
                        <small class="alert-dir d-flex justify-content-center w-100">{{ alertError.message }}</small>
                    }
                    
                    <div class="mt-3 text-end">
                        @if(loading) {
                            <button id="btn-loading" class="btn btn-primary w-sm waves-effect waves-light">
                                <i class="fa fa-check d-none" aria-hidden="true"></i>
                                <div class="spinner-border text-light" role="status"></div>
                                <div class="loading-text">Entrando</div>
                            </button>
                        }@else {
                            <button type="submit" class="btn btn-primary w-sm waves-effect waves-light">Entrar</button>
                        }                 
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="my-3 text-center">
        <p>© {{ date }} Ziba Cotizaciones
    </div>
</section>