<div class="bg-img">
    <div class="container bg-white pantalla">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <img src="../../../assets/Imagenes/Grupo-SCR.png" alt="" width="80" class="my-2">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-reporte">
                    <input type="text" placeholder="Aqui va el titulo del reporte de evidencia" class="inp-no-style" [(ngModel)]="json.sTitulo">
                </div>
                <div class="col-12">
                    <div class="row info-reporte">
                        <div class="col-lg-3 col-sm-12 b-style d-flex align-items-center">
                            <label for="client" class="title-input m-0">CLIENTE:</label>
                            <input type="text" [(ngModel)]="json.sCliente" class="inp-no-style-data" placeholder="Ingresa el cliente" id="client">                            
                        </div>
                        <div class="col-lg-3 col-sm-12 b-style d-flex align-items-center">
                            <label for="fecha" class="title-input m-0">FECHA:</label>
                            <input type="date" [(ngModel)]="json.sFecha" class="inp-no-style-date" id="fecha">
                        </div>
                        <div class="col-lg-3 col-sm-12 b-style d-flex align-items-center">
                            <label for="equipo" class="title-input m-0">EQUIPO:</label>
                            <input type="text" [(ngModel)]="json.sEquipo" class="inp-no-style-data" placeholder="Ingresa el equipo" id="equipo">  
                        </div>
                        <div class="col-lg-3 col-sm-12 no-b d-flex align-items-center">
                            <label for="reporte" class="title-input m-0">REPORTE:</label>
                            <input type="text" [(ngModel)]="json.sReporte" class="inp-no-style-data" placeholder="Ingresa el reporte" id="reporte"> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-info btn-sm text-buttons" (click)="nuevaEvidencia()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp; Nueva evidencia
                </button>
            </div>
        </div>
        <div class="row mt-2 evidencias-cards">
            <div class="col-12">
                <div class="alert alert-secondary" role="alert" *ngIf="json.objEvidencias.length == 0">
                    Este reporte aun no cuenta con evidencias
                </div>
            </div>
            @for(evidencia of json.objEvidencias; track $index) {
                <div class="col-12 mt-2">
                    <div class="card-aunt">
                        <span class="ico-close" title="Eliminar" (click)="json.objEvidencias.splice($index,1)"><i class="fa fa-window-close-o" aria-hidden="true"></i></span>
                        <input type="text" placeholder="Ingrese el titulo de la Evidencia" [(ngModel)]="evidencia.sTitulo" class="inp-style-card">
                        <textarea [(ngModel)]="evidencia.sDescripcion" class="w-100 text-area-style" rows="4" placeholder="Aqui van las observaciones"></textarea>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="evidencia.bImagenes">
                            <label class="form-check-label label-style" for="inlineCheckbox1">Agregar imagenes</label>
                        </div>
                        <div class="seccion-imagenes row d-flex justify-content-center mb-2">                            
                            @for(imagen of evidencia.objImagenes; track imagen) {
                                <div class="col-2">
                                    <div 
                                        class="cuadrado d-flex justify-content-center align-items-center" 
                                        [ngClass]="!evidencia.bImagenes ? 'deshabilidato' : ''"
                                        (click)="evidencia.bImagenes ? abrirExplorador(evidencia.index,imagen.index) : alertaImagen(evidencia.index)">
                                        <i class="fa fa-plus" aria-hidden="true" *ngIf="imagen.file == ''"></i>
                                        <input type="file" class="d-none" id="inpFile{{evidencia.index}}{{imagen.index}}" (change)="guardarImagen($event, evidencia.index, imagen.index)" accept=".png, .jpg, .jpeg">
                                        <img *ngIf="imagen.file != ''" [src]="imagen.file" class="img-cuadrado">
                                    </div>
                                </div>                                    
                            }
                            <small *ngIf="evidencia.alerta" class="form-text text-warning label-style">Selecciona el check de agregar imagenes</small>                       
                        </div>
                    </div>
                </div>                
            }    
                 
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-success btn-sm text-buttons" (click)="guardarReporte()"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</button>
            </div>
        </div>
    </div>
</div>

