<div class="page-wrapper chiller-theme" [class]="bSidebar ? 'toggled' : ''">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="bg-dark"></div>
        <div class="sidebar-brand">
          <a class="cp">{{ currentTime }} </a>
          @if(bShowMenu) {
            <div id="close-sidebar" (click)="toggleSidebar()">
              <i class="fa fa-bars"></i>
            </div>
          }          
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="" src="./assets/Imagenes/Empresas/Ziba/isotipo.png"
              alt="User picture">
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <!-- <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>E-commerce</span>
                <span class="badge badge-pill badge-danger">3</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Products
  
                    </a>
                  </li>
                  <li>
                    <a href="#">Orders</a>
                  </li>
                  <li>
                    <a href="#">Credit cart</a>
                  </li>
                </ul>
              </div>
            </li> -->
            <li>
              <a href="#">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <span>Mi proyecto</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a style="cursor: pointer;" (click)="logOut()">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <!-- <main class="page-content" style="max-height: 99%; height: 99%;">
      <div class="container-fluid h-100 py-1">
        <router-outlet />
      </div>
    </main> -->
    <!-- page-content" -->
     <main class="container-fluid bg-contenido px-0">
      <nav class="navbar navbar-expand-lg border-bottom" style="background-color: white !important;">
        <!-- Container wrapper -->
        <div class="container justify-content-center justify-content-md-between">
          <!-- Left links -->
          <ul class="navbar-nav flex-row">
            <li class="navbar-item me-2 me-lg-0">
              <a class="cp nav-link" (click)="toggleSidebar()">
                <i class="fa fa-bars" style="font-size: 20px;"></i>
              </a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
              <a class="nav-link" href="#">PANEL ADMIN. ZIBÁ</a>
            </li>
          </ul>
          <!-- Left links -->
          <!-- <div class="data-user d-flex align-items-center">
            <img src="" class="rounded" height="40" width="40">
            <p>Nobre del usuario</p>
          </div> -->
          
        </div>
        <!-- Container wrapper -->
      </nav>
      <div class="section container">
        <div class="page-title-box d-flex align-items-center justify-content-between">
          <h4 class="mt-4 mx-0">Mi Proyecto</h4>
          <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Panel Admin.</li>
                  <li class="breadcrumb-item active">Mi Proyecto</li>
              </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <div class="card">
                <router-outlet/>
              </div>
          </div>
        </div>
      </div>
     </main>
  </div>
