.is__invalid-input {
    border-color: #eee6e8;
}
  
.is__invalid-error {
    color: white;
    padding: 0px;
}
.nav-item {
    border-top: 1px #065D62 solid;
    border-right: 1px #065D62 solid;
    border-left: 1px #065D62 solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}
.nav-item a {
    font-weight: bold;
    color: #065D62;
}
.nav-item:hover {
    border-top: 1px transparent solid;
    border-right: 1px transparent solid;
    border-left: 1px transparent solid;
}
.nav-item a:hover {
    background-color: #065D62;
    color: white;
}
.modal-completo {
    height: 99.8vh;
    position: relative;
}
.contacto {
    padding: 0px 80px;
    background-color: #0e888e;
    height: 99.8vh;
    display: flex;
    align-items: center;
}
.contacto form {
    width: 100%;
}
.titleForm {
    font-size: 25px;
}
.cerrarModal {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.cerrarModal i {
    cursor: pointer;
    font-size: 45px;
    color: white;
}
.btnEnviar {
    text-transform: uppercase();
    text-decoration: none;
    padding: 5px 25px;
    border: none;
    border-radius: 30px;
    background-color: #006653;
    color: white;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    outline: none;
}
.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99.8vh;
}
.cotizador {
    padding: 15px;
    box-sizing: border-box;
    width: 900px;
    max-width: 1024px;
    box-shadow: 0px 1px 4px 2px #00000029;
    background: #cfcece24;
}
.imgCotizador {
    width: 100%;
    height: auto;
}
.title-lote h2 {
    font-size: 25px !important;
    font-weight: bold !important;
    height: fit-content;
    margin: 0px !important;
}
.title-lote .division {
    width: 4px;
    background-color: #834979;
    height: 23px;
}
.superficie p {
    font-size: 20px !important;
    color: #0a0a0a;
    margin: 0px;
    margin-right: 5px;
}
.superficie strong {
    font-size: 20px !important;
    margin: 0px;
    color: #0a0a0a;
}
.superficie .division {
    width: 1px;
    height: 18px;
    background-color: #0a0a0a;
}
.preciom2 p {
    font-size: 20px !important;
    color: #0a0a0a;
    margin: 0px;
    margin-right: 5px;
}
.preciom2 strong {
    font-size: 20px !important;
    margin: 0px;
    color: #0a0a0a;
}
.precioTotal p {
    font-size: 20px !important;
    color: #0a0a0a;
    margin: 0px;
    margin-right: 5px;
}
.precioTotal strong {
    font-size: 22px !important;
    margin: 0px;
    color: #834979;
}
.precioTotal p {
    font-size: 20px !important;
    color: #0a0a0a;
    margin: 0px;
    margin-right: 5px;
}
@media only screen and (max-width: 575px){
    .modal-completo {
        height: auto;
    }
    .contacto {
        height: auto;
        padding: 15px 20px;
    }
}
