<div class="section-mapa w-100">
    <div class="cuadro">
        <ul class="nav nav-tabs">
            <li class="nav-item p-normal">
              <a class="nav-link active">Num. Etapa</a>
            </li>
        </ul>
        <div class="etapas"></div>
        <div class="svg">
            <app-svg (click)="abrirModal($event)" ></app-svg>
        </div>
    </div>
</div>

<ng-template #cotizadorModal let-modal>
    <div class="container-fluid modal-completo">
        <span class="cerrarModal" (click)="modal.dismiss('Cross click')"><i class="fa fa-times" aria-hidden="true"></i></span>
        <div class="row">
            <div class="col-lg-8 mx-0 px-0">
                <div class="contenido">
                    <div class="cotizador">
                        <div class="row">
                            @if(cotizacion.lote.sFotografia != '') {
                                <div class="col-lg-5 col-sm-12">
                                    <img [src]="cotizacion.lote.sFotografia" class="imgCotizador">
                                </div>
                            }                            
                            <div [class]="cotizacion.lote.sFotografia != '' ?  'col-lg-7 col-sm-12' : 'col-12'" class="py-3">
                                <div class="title-lote d-flex align-items-center p-normal">
                                    <h2>{{cotizacion.lote.sNombre}}</h2>
                                    <div class="division mx-2"></div>
                                    <h2 style="color: #065D62;">{{cotizacion.lote.sEtapa}}</h2>
                                </div>
                                <div class="info-lote mt-2">
                                    <div class="superficie d-flex align-items-center p-normal">
                                        <p>Superficie:</p><strong>{{cotizacion.lote.sSuperficie}}</strong>
                                        <div class="division mx-2"></div>
                                        <p>Dimensiones:</p><strong>{{cotizacion.lote.sDimension}}</strong>
                                    </div>
                                    <div class="preciom2 d-flex p-normal mt-1">
                                        <p>Precio por ㎡:</p><strong>{{cotizacion.lote.objPlazos[0].sPrecioM2 | currency: '$ '}}</strong>
                                    </div>
                                    <div class="precioTotal d-flex align-items-end p-normal mt-1">
                                        <p>Precio:</p><strong>{{precioTotal | currency: '$ '}}</strong>
                                    </div>
                                </div>
                                <div class="financiamiento p-normal">
                                    <p>Financiamiento:</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <small class="text-info">Consulta promociones vigentes con tu asesor de confianza.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0 mx-0">
                <div class="contacto">
                    <form [formGroup]="form" (ngSubmit)="registrarCotizacion()">
                        <p class="p-normal text-white titleForm"><strong>CONTACTO</strong></p>
                        <div class="form-group mt-2">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sNombre"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sNombre'].errors }"
                            formControlName="sNombre"
                            placeholder="Nombre"
                            >
                        </div>
                        <div *ngIf="submitted && f['sNombre'].errors" class="is__invalid-error">
                            <div *ngIf="f['sNombre'].errors['required']">*Este campo es obligatorio</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sCorreo"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sCorreo'].errors }"
                            formControlName="sCorreo"
                            placeholder="Correo electrónico"
                            >
                        </div>
                        <div *ngIf="submitted && f['sCorreo'].errors" class="is__invalid-error">
                            <div *ngIf="f['sCorreo'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['sCorreo'].errors['email']">*Ingresa un correo valido</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="number" 
                            class="form-control" 
                            id="iTelefono"
                            maxlength="9999999999"
                            [ngClass]="{ 'is__invalid-input': submitted && f['iTelefono'].errors }"
                            formControlName="iTelefono"
                            placeholder="Teléfono"
                            >
                        </div>
                        <div *ngIf="submitted && f['iTelefono'].errors" class="is__invalid-error">
                            <div *ngIf="f['iTelefono'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['iTelefono'].errors['maxLength']">*Ingresa un número de 10 digitos</div>
                        </div>
                        <button type="submit" class="btnEnviar mt-5">ENVIAR</button>
                        <small class="text-white w-100">Toda la información personal es confidencial y no será usada ni vendida para fines publicitarios</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>