<div class="section-mapa w-100">
    <div class="cuadro">
        <ul class="nav nav-tabs">
            @for(etapa of arrayEtapas; track etapa) {
                <li class="nav-item p-normal">
                    <a class="nav-link active">{{etapa.sEtapa}}</a>
                </li>
            }            
        </ul>
        <div class="etapas"></div>
        <div class="svg">
            <app-svg (click)="abrirModal($event)" (mouseover)="mostrarDetalle($event)" (mouseleave)="esconderDetalle($event)"></app-svg>
            <div class="details" *ngIf="lote">
                <p><span class="titulo">{{ lote.sTipoLote+"-"+etapaSeleccionada.iEtapa }}</span></p>
                <p>Superficie: <span class="superficie">{{ lote.iSuperficie }} ㎡</span></p>
                <p>Dimensiones: &nbsp; <span class="dimensions">{{ lote.bIrregular == 1 ? 'IRREGULAR' : lote.iLargo+" x "+lote.iAncho }}</span></p>
                <p>Precio: <span class="precio">{{ lote.iSuperficie * lote.iPrecioM2Contado | currency: '$' }}</span></p>
            </div>
        </div>
    </div>
</div>

<ng-template #cotizadorModal let-modal>
    <div class="container-fluid modal-completo">
        <span class="cerrarModal" (click)="modal.dismiss('Cross click')"><i class="fa fa-times" aria-hidden="true"></i></span>
        <div class="row">
            <div class="col-lg-8 mx-0 px-0">
                <div class="contenido">
                    <div class="cotizador">
                        <div class="row">
                            @if(lote.sFotografia != '' && lote.sFotografia != undefined) {
                                <div class="col-lg-5 col-sm-12">
                                    <img [src]="lote.sFotografia" class="imgCotizador">
                                </div>
                            }                            
                            <div [class]="lote.sFotografia != '' && lote.sFotografia != undefined ?  'col-lg-7 col-sm-12' : 'col-lg-9 col-sm-12'" class="py-3">
                                <div class="title-lote d-flex align-items-center p-normal">
                                    <h2>{{lote.sTipoLote}}</h2>
                                    <div class="division mx-2"></div>
                                    <h2 style="color: #506465;">{{etapaSeleccionada.sEtapa}}</h2>
                                </div>
                                <div class="info-lote mt-3">
                                    <div class="superficie p-normal">
                                        <div class="d-flex">
                                            <p>Superficie:</p><strong>{{lote.iSuperficie}} ㎡</strong>
                                        </div>
                                        <div class="division mx-2 esconder_div"></div>
                                        <div class="d-flex dimension">
                                            <p>Dimensiones:</p>
                                            <strong>
                                                {{lote.bIrregular == 0  ? lote.iAncho+' x '+lote.iLargo+' (㎡)' 
                                                : 'IRREGULAR'}}
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="preciom2 d-flex p-normal mt-2">
                                        <p>Precio por ㎡:</p><strong>{{precioM2 | currency: '$ '}}</strong>
                                    </div>
                                    <div class="precioTotal d-flex align-items-end p-normal mt-2">
                                        <p>Precio Contado:</p><strong>{{precioTotal | currency: '$ '}}</strong>
                                    </div>
                                    <div class="financiamiento p-normal mt-4">
                                        <p>Financiamiento:</p>
                                    </div>
                                    <div class="cotizacion">
                                        <select #sel (change)="seleccionarPlazo(sel.value)">
                                            <option class="p-normal" selected value="-1">CONTADO</option>
                                            @for(plazo of lote.objPlazos; track plazo) {
                                                <option class="p-normal" [value]="plazo.iIdPlazo">{{plazo.sPlazo}}</option>
                                            }
                                        </select>
                                        @if(bCotizacion) {
                                            <div class="info-cotizacion row mx-0 w-100">
                                                <div class="col-6 enganche">
                                                    <div class="p-enganche d-flex">
                                                        <p class="p-normal py-0">% de enganche</p>
                                                        <input type="number" [(ngModel)]="iMinEnganche" (change)="calcularMensualidad()">
                                                    </div>
                                                    <strong>{{precioEnganche | currency: '$ '}}</strong>
                                                </div>
                                                <div class="col-6 mensualidad">
                                                    <p class="p-normal">Pago Mensual</p>
                                                    <strong>{{precioMensualidad | currency: '$ '}}</strong>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <small class="avisos p-normal">- Consulta promociones vigentes con tu asesor de confianza.</small>
                            </div>
                            <div class="col-12">
                                <small class="avisos p-normal">- Los precios estan sujetos a cambios sin previo aviso.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0 mx-0">
                <div class="contacto">
                    <form [formGroup]="form" (ngSubmit)="registrarCotizacion()">
                        <p class="p-normal text-white titleForm"><strong>CONTACTO</strong></p>
                        <div class="form-group mt-2">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sNombre"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sNombre'].errors }"
                            formControlName="sNombre"
                            placeholder="Nombre"
                            style="text-transform: uppercase;"
                            >
                        </div>
                        <div *ngIf="submitted && f['sNombre'].errors" class="is__invalid-error">
                            <div *ngIf="f['sNombre'].errors['required']">*Este campo es obligatorio</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sCorreo"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sCorreo'].errors }"
                            formControlName="sCorreo"
                            placeholder="CORREO ELECTRONICO"
                            >
                        </div>
                        <div *ngIf="submitted && f['sCorreo'].errors" class="is__invalid-error">
                            <div *ngIf="f['sCorreo'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['sCorreo'].errors['email']">*Ingresa un correo valido</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="iTelefono"
                            maxlength="10"
                            [ngClass]="{ 'is__invalid-input': submitted && f['iTelefono'].errors }"
                            formControlName="iTelefono"
                            placeholder="TELEFONO"
                            >
                        </div>
                        <div *ngIf="submitted && f['iTelefono'].errors" class="is__invalid-error">
                            <div *ngIf="f['iTelefono'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['iTelefono'].errors['pattern']">*Este campo solo acepta números</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sCiudad"
                            maxlength="10"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sCiudad'].errors }"
                            formControlName="sCiudad"
                            placeholder="Ciudad"
                            style="text-transform: uppercase;"
                            >
                        </div>
                        <div *ngIf="submitted && f['sCiudad'].errors" class="is__invalid-error">
                            <div *ngIf="f['sCiudad'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['sCiudad'].errors['pattern']">*Este campo solo acepta números</div>
                        </div>
                        <button type="submit" class="btnEnviar mt-5 d-flex align-items-center justify-content-center" [disabled]="buttonEnv.disabled">
                            @if(buttonEnv.load){
                                <div class="spinner-border" role="status" style="width: 20px;height: 20px;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }                                                    
                            <div>&nbsp; {{buttonEnv.texto}}</div>                            
                        </button>
                        <small class="text-white w-100">Toda la información personal es confidencial y no será usada ni vendida para fines publicitarios</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>