<div class="custom-modal-overlay" *ngIf="isCustomModalVisible">
    <!-- Encabezado -->
    <div class="custom-modal-header">
        <div class="logo-titulo">
            <img src="./assets/Imagenes/Empresas/Ziba/img/isotipo.png" height="40" width="40" alt="Logo">
            <h4>{{ faseSeleccionada.sEtapa || 'PLANTA BAJA' }}</h4>
        </div>
        <button class="custom-close-btn" (click)="hideCustomModal()">
            ✕
        </button>
    </div>
    <div class="custom-modal" (click)="$event.stopPropagation()">    
        <!-- Cuerpo -->
        <div class="custom-modal-body">
            <p class="instrucciones">Da click en el mapa y selecciona el apartamento a cotizar</p>
            
            <!-- Contenedor SVG -->
            <div id="svgContainerDeptos" 
                (click)="abrirModal($event)" 
                (mouseover)="mostrarDetalle($event)" 
                (mouseleave)="esconderDetalle($event)">
            </div>
            
            <!-- Leyenda -->
            <div class="leyenda-colores">
                <div class="leyenda-item estatus-disponible">
                    <div class="circle"></div>
                    <span>DISPONIBLE</span>
                </div>
                <div class="leyenda-item estatus-apartado">
                    <div class="circle"></div>
                    <span>APARTADO</span>
                </div>
                <div class="leyenda-item estatus-vendido">
                    <div class="circle"></div>
                    <span>VENDIDO</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="details">
    <p><span>{{ lote ? lote.sTipoLote : '' }}</span></p>
    <p class="d-flex align-items-center">Superficie: <span class="superficie ml-2">{{  lote ? lote.iSuperficie : '' }} ㎡</span></p>
    @if(lote) {
        <p class="d-flex align-items-center">Dimensiones: &nbsp; <span class="dimensions ml-2">{{ lote.bIrregular == 1 ? 'IRREGULAR' : lote.iLargo+" x "+lote.iAncho }}</span></p>
        <p class="d-flex align-items-center">Precio: <span class="precio ml-2">{{ lote.iPrecioContado| currency: '$' }}</span></p>
    }    
</div>

<ng-template #cotizadorModal let-modal>
    <div class="container-fluid modal-completo">
        <span class="cerrarModal" (click)="modal.dismiss('Cross click')"><i class="fa fa-times" aria-hidden="true"></i></span>
        <div class="row">
            <div class="col-lg-8 mx-0 px-0">
                <div class="contenido">
                    <div class="cotizador">
                        <div class="row justify-content-center">
                            <div class="col-12 d-flex justify-content-center">
                                <h4 class="titulo">
                                    {{lote.sTipoLote}}
                                </h4>
                            </div>
                            <div class="col-12 d-flex justify-content-center px-0">
                                <div class="info-depto">Nivel: <span>{{faseSeleccionada.iEtapa == 0  ? 'PB' : faseSeleccionada.iEtapa}}</span></div>
                                |
                                <div class="info-depto">Superficie: <span>{{lote.iSuperficie}} ㎡</span></div>
                                |
                                <div class="info-depto">Habitaciones: <span>{{lote.bIrregular == 0  ? lote.iAncho+' x '+lote.iLargo+' (㎡)' 
                                    : lote.iAncho }}</span></div>
                            </div>
                            
                            @if(lote.objFotografias.length >= 2) {
                                <div class="col-lg-11 col-sm-12 content-img mt-2">
                                    <ngb-carousel #carousel class="caro-content">
                                        @for (fotografia of lote.objFotografias; track $index) {
                                            <ng-template ngbSlide>
                                                <div class="carousel-caption caro-title">
                                                    <h5>{{fotografia.sNombre}}</h5>
                                                </div>
                                                <a href="{{ fotografia.sPath }}" target="_blank" rel="nofollow noopener noreferrer">
                                                    <div class="picsum-img-wrapper content-img">
                                                        <img [src]="fotografia.sPath" style="width: 100%;" />
                                                    </div>
                                                </a>
                                            </ng-template>
                                        }
                                    </ngb-carousel>
                                </div>
                            } @else {
                                <div class="col-lg-11 col-sm-12 content-img mt-2">
                                    <img [src]="lote.objFotografias[0].sPath" style="width: 100%;">
                                </div>
                            }
                            <div class="col-lg-11 col-sm-12 mt-4">
                                <div class="d-flex justify-content-center align-items-strech info-cotizacion">
                                    <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-start info-inicial">
                                        <div class="info-depto">Monto total: <span>{{precioTotal | currency: '$ '}}</span></div>
                                        <div class="info-depto d-flex align-items-center">
                                            Enganche:
                                            <select #sel (change)="seleccionarEnganche(sel.value)" class="mr-2" style="width: 100px;">
                                                <option class="p-normal" selected value="1">20%</option>
                                                <option class="p-normal" value="2">30%</option>
                                                <option class="p-normal" value="3">50%</option>
                                            </select>
                                        </div>
                                        <div class="info-depto">Total enganche: <span>{{precioEnganche | currency: '$ '}}</span></div>
                                            
                                        <div class="info-depto d-flex flex-column precioContraEntrega">Precio contra entrega: <span>{{precioContraEntrega | currency: '$ '}}</span></div>
                                    </div>
                                    <div class="flex-shrink-0 d-flex justify-content-center align-items-center img-cotizacion" style="width: 80px;">
                                        <img src="./assets/Imagenes/Empresas/Ziba/img/isotipo_secundario.png" width="60">
                                    </div>
                                    <div class="flex-grow-1 d-flex flex-column justify-content-start align-items-end px-0 info-final">
                                        <div class="info-depto">Financiamiento:
                                            <select class="cotizacion-select" #sel (change)="seleccionarPlazo(sel.value)">
                                                @for(plazo of lote.objPlazos; track plazo) {
                                                    <option class="p-normal" [value]="plazo.iIdPlazo" selected>{{plazo.sPlazo}}</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="calculadora d-flex justify-content-center mt-2">
                                            <div class="info-depto pago-finan">
                                                % financiamiento
                                                <input type="text" class="mr-1" [(ngModel)]="iMinEnganche" (change)="calcularMensualidad()" disabled="true">
                                                <br>
                                                <span>{{precioFinanciado | currency: '$ '}}</span>
                                            </div>
                                            <div class="info-depto pago-men">
                                                Pago mensual
                                                <br>
                                                <span>{{precioMensualidad | currency: '$ '}}</span>
                                            </div>
                                        </div>
                                        <div class="info-depto d-flex justify-content-between precioContraEntregaMovil">Precio contra entrega: <span>{{precioContraEntrega | currency: '$ '}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-11 col-sm-12 mt-2">
                                <small class="avisos p-normal">-Los precios estan sujetos a cambios sin previo aviso.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 px-0 mx-0">
                <div class="contacto">
                    <form [formGroup]="form" (ngSubmit)="registrarCotizacion()">
                        <p class="p-normal text-white titleForm"><strong>CONTACTO</strong></p>
                        <div class="form-group mt-2">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sNombre"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sNombre'].errors }"
                            formControlName="sNombre"
                            placeholder="Nombres"
                            style="text-transform: uppercase;"
                            >
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sApellidos"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sApellidos'].errors }"
                            formControlName="sApellidos"
                            placeholder="Apellidos"
                            style="text-transform: uppercase;"
                            >
                        </div>
                        <div *ngIf="submitted && f['sNombre'].errors" class="is__invalid-error">
                            <div *ngIf="f['sNombre'].errors['required']">*Este campo es obligatorio</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sCorreo"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sCorreo'].errors }"
                            formControlName="sCorreo"
                            placeholder="CORREO ELECTRONICO"
                            >
                        </div>
                        <div *ngIf="submitted && f['sCorreo'].errors" class="is__invalid-error">
                            <div *ngIf="f['sCorreo'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['sCorreo'].errors['email']">*Ingresa un correo valido</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="iTelefono"
                            maxlength="10"
                            [ngClass]="{ 'is__invalid-input': submitted && f['iTelefono'].errors }"
                            formControlName="iTelefono"
                            placeholder="TELEFONO"
                            >
                        </div>
                        <div *ngIf="submitted && f['iTelefono'].errors" class="is__invalid-error">
                            <div *ngIf="f['iTelefono'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['iTelefono'].errors['pattern']">*Este campo solo acepta números</div>
                        </div>
                        <div class="form-group mt-3">
                            <input 
                            type="text" 
                            class="form-control" 
                            id="sCiudad"
                            maxlength="10"
                            [ngClass]="{ 'is__invalid-input': submitted && f['sCiudad'].errors }"
                            formControlName="sCiudad"
                            placeholder="Ciudad"
                            style="text-transform: uppercase;"
                            >
                        </div>
                        <div *ngIf="submitted && f['sCiudad'].errors" class="is__invalid-error">
                            <div *ngIf="f['sCiudad'].errors['required']">*Este campo es obligatorio</div>
                            <div *ngIf="f['sCiudad'].errors['pattern']">*Este campo solo acepta números</div>
                        </div>
                        <button type="submit" class="btnEnviar mt-5 d-flex align-items-center justify-content-center" [disabled]="buttonEnv.disabled">
                            @if(buttonEnv.load){
                                <div class="spinner-border" role="status" style="width: 20px;height: 20px;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            }                                                    
                            <div>&nbsp; {{buttonEnv.texto}}</div>                            
                        </button>
                        <small class="text-white d-flex justify-content-center mt-2">Tus datos serán protegidos por nuestro &nbsp; <a href="https://zibaapartments.com/aviso-de-privacidad/" target="_blank">Aviso de Privacidad</a> </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>