
<div class="container-fluid px-0">
    <div class="container-fuid section-info">
        <div class="container">
            <div class="py-2 d-flex flex-column justify-content-center align-items-center">
                <img src="./assets/Imagenes/Empresas/Ziba/logo.png" class="img-main">
                <h3 class="titulo mt-1">BELLEZA QUE MAGNIFICA TU INVERSIÓN</h3>
            </div>
        </div>
        
    </div>
    <div class="contenido">
        <router-outlet></router-outlet>
    </div> 
    
</div>

