
<div class="container-fluid bg-white header">
    <div class="container">
        <div class="row">
            <div class="col-12 py-2 px-4">
                <img src="/assets/Imagenes/logo.svg" width="200" height="100">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid section-info py-4">
    <div class="container">
        <div class="row my-0 py-0">
            <div class="col-12 text-center text-white p-normal">
                <p class="mb-3">Da click en el mapa y selecciona el lote a cotizar</p>
                <!-- <p class="mb-3"><strong>*Precios sujetos a cambios sin previo aviso*</strong></p> -->
            </div>
        </div>
        <div class="d-flex justify-content-center my-0 py-0">
            <div class="text-white p-normal d-flex align-items-center">
                <div class="circulo disponible"></div><strong>DISPONIBLE</strong>
            </div>
            <div class="text-white p-normal d-flex align-items-center mx-3">                
                <div class="circulo apartado"></div><strong>APARTADO</strong>
            </div>
            <div class="text-white p-normal d-flex align-items-center">                
                <div class="circulo vendido"></div><strong>VENDIDO</strong>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white py-4 px-0">
    <div class="container px-0">
        <app-mapa></app-mapa>
    </div>
</div>

