
<div class="container-fluid section-info header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center header-cotizador">
            <div class="py-2 px-4">
                <img src="/assets/Imagenes/Empresas/Ziba/logo.png" class="img-main">
            </div>
            <div class="d-flex flex-column mb-3">
                <div class="text-center text-white p-normal">
                    <p class="mb-3">Da click en el mapa y selecciona el apartamento a cotizar</p>
                </div>
                <div class="d-flex justify-content-center my-0 py-0">
                    <div class="text-white p-normal d-flex align-items-center">
                        <div class="circulo disponible"></div><strong>DISPONIBLE</strong>
                    </div>
                    <div class="text-white p-normal d-flex align-items-center mx-3">                
                        <div class="circulo apartado"></div><strong>APARTADO</strong>
                    </div>
                    <div class="text-white p-normal d-flex align-items-center">                
                        <div class="circulo vendido"></div><strong>VENDIDO</strong>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid bg-white py-4 px-0">
    <div class="container px-0">
        <app-mapa></app-mapa>
    </div>
</div>

