.bg-patron {
    background-color: var(--secundario);
    background-image: url("/assets/Imagenes/Empresas/Ziba/isotipo_secundario.png");
    background-size: 180px;
    height: 100vh;
}

.cabecera {
    padding: 40px 0px;
}

.titulo {
    color: white;
}

.list-estatus {
    background-color: var(--principal);
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}

.circle {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.estatus-disponible .circle {
    background-color: var(--success);
}

.estatus-apartado .circle {
    background-color: var(--info);
}

.estatus-vendido .circle {
    background-color: var(--danger);
}
.contenido {
    border-radius: 5px;
    background-color: #fff;
    padding: 25px 25px;
    height: 75vh;
    max-height: 75vh;
}

